.article{
    background-color: #dcdcdd;
    height: 100%;
    position: absolute;
}

.item-detail{
    margin: auto;
    margin-top: 40px;
    max-width: 60%;
    background-color: rgb(252, 251, 250);
    display: flex;
    border-radius: 10px;
    // box-shadow: 3px 3px 20px grey;
    font-family: 'Arvo', serif;
    
}


.img-item-detail{
    margin-top: 50px;
    mix-blend-mode: multiply;
}

.display-flex{
    display: flex;
    padding: 20px;
}

.item-detail-text{
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto 20px;
    flex-direction: column;
}

.item-detail-text h2{
    margin-top: 15px;
}

.itemDescription{
    margin: auto;
    text-align: justify
}

/**********************************************/
.boton-agregar-carrito {
    display: inline-block;
    padding: 12px 24px;
    border: 1px  #4f4f4f;
    border-radius: 50px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: black;
    z-index: 1;
    background-color: #dfe5f1;
    margin-bottom: 15px;
   }
   
   .boton-agregar-carrito:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .boton-agregar-carrito:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .boton-agregar-carrito:hover {
    color: #ffffff;
    border: 1px   #39bda7;
   }
   
   .boton-agregar-carrito:hover:before {
    top: -35%;
    background-color: #2e8dcc;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
   
   .boton-agregar-carrito:hover:after {
    top: -45%;
    background-color: #2e8dcc;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
/**********************************************/



.botones-compra{
    display: flex;
    // justify-content: space-around;
    margin-top: 18px;
    margin-bottom: 15px;

}

/**********************************************/
.seguir-comprando {
    display: inline-block;
    padding: 12px 24px;
    border: 1px   #d8d8d8;;
    border-radius: 50px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: black;
    background-color: #dfe5f1;
    z-index: 1;
    text-decoration: none;
    text-align: center;
   }
   
   .seguir-comprando:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .seguir-comprando:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .seguir-comprando:hover {
    color: #ffffff;
    border: 1px   #39bda7;
   }
   
   .seguir-comprando:hover:before {
    top: -35%;
    background-color: #3daefa;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
   
   .seguir-comprando:hover:after {
    top: -45%;
    background-color: #64b5eb;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }

   .txt-seguir-comprando{
       text-align: center;
   }
/**********************************************/
.fin-compra {
    display: inline-block;
    padding: 12px 24px;
    border: 0.5px   #d8d8d8;
    border-radius: 50px;
    transition: all 0.2s ease-in;
    background-color: #dfe5f1;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: black;
    z-index: 1;
    text-decoration: none;
   }
   
   .fin-compra:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .fin-compra:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .fin-compra:hover {
    color: #ffffff;
    border: 1px   #3daefa;
   }
   
   .fin-compra:hover:before {
    top: -35%;
    background-color: #3daefa;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
   
   .fin-compra:hover:after {
    top: -45%;
    background-color: #4c89b3;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
/**********************************************/