.header {
  background-color: #005F66;
  width: 100%;
  padding: 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  max-width: 20%;
  height: 100%;
}

.navBar {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.enlaces {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 50px;
}

.navBar-enlace {
  cursor: pointer;
  color: black;
}

.cart {
  cursor: pointer;
}

.cart img {
  width: 30px;
}

.carrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-link {
  text-decoration: none;
}

.nav-item {
  text-decoration: none;
  width: 100%;
  color: black;
  margin-left: 5px;
  display: block;
  padding: 3px 5px;
}

.nav-item:hover {
  text-decoration: none;
  background-color: #e2e1e1;
  color: black;
  margin-left: 0px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.mensaje {
  font-size: 80px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin: 50px auto;
  color: #37B2BD;
}

.boton {
  color: white;
  background-color: #f77722;
  margin: 0 auto;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  width: 150px;
}

.boton:hover {
  background-color: #f99553;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

.boton:active {
  background-color: #de5d08;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cart-widget {
  color: white;
  font-size: 50px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.cart-widget:hover {
  color: #61f761;
}

.card-body p {
  margin-bottom: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-title {
  text-align: center;
}

.tarjetas .card {
  max-width: 250px;
  margin: 20px 20px;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 20px #dadada;
          box-shadow: 3px 3px 20px #dadada;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 27px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.tarjetas .card:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 5px;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 2rem;
  background: #282936;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

button.learn-more .button-text {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 3px 0 0 0px;
  color: #282936;
  font-weight: 700;
  line-height: 0.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 73%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  -webkit-transform: translate(1rem, 0);
          transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}

.btnContador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-detail {
  margin: auto;
  margin-top: 10px;
  max-width: 60%;
  background-color: #dff5f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 20px grey;
          box-shadow: 3px 3px 20px grey;
  cursor: pointer;
}

.item-detail .img-item-detail {
  mix-blend-mode: multiply;
  margin-top: auto;
  margin-bottom: auto;
}

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.item-detail-text {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: auto 20px;
}

.itemDescription {
  margin: auto;
}

.tarjetas .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: none;
}

.loader {
  width: 100px;
  height: 100px;
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  -webkit-animation: giro 1.5s linear infinite;
          animation: giro 1.5s linear infinite;
}

@-webkit-keyframes giro {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes giro {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=styles.css.map */