.card-body p{
    margin-bottom: 0rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Arvo', serif;
}

.card-title{
    text-align: center;
}

.tarjetas .card{
    max-width: 250px;
    margin: 20px 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgb(218, 218, 218);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 27px;
    transition: all 0.2s ease-in-out;
}

.tarjetas .card:hover{
    transform: scale(1.05, 1.05);
}

.learn-more {
    font-family: sans-serif;
    font-size: 17px;
    background: transparent;
    color: #006bb3;
    border: 1px rgba(0, 107, 179, 0.2);
    padding: 10px;
    border-radius: 4px;
    transition-duration: 0.2s;
   }
   
   .learn-more:before {
    content: "»";
    opacity: 0;
    margin-left: -15px;
    transition-duration: 0.2s;
   }
   
   .learn-more:hover:before {
    margin-left: 0px;
    opacity: 1;
   }
   
   .learn-more:hover {
    color: black;
    background: rgba(0, 0, 0, 0.02);
    border: 1px gainsboro;
   }

   