@media only screen and (max-width: 575px) {

    .header{    
        background-color: #49516F;
        width: 100%;
        padding: 20px 50px;
        display: flex;
        justify-content: space-between;
    }
    
    .logoContainer{
        max-width: 30%;
        display: block;
        text-align: center;
    }

    .logo{
        width: 55%;
    }

    
    
    .navBar{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .enlaces{
        width: 80%;
        display: block;

    }
     ul li{
         list-style: none;
     }
    
    .enlaces li a{
        text-decoration: none;
        color: white;
        font-size: 18px;
        text-transform:uppercase;
        transition: all 0.2s ease;
        font-family: 'Arvo', serif;
        margin-left: -20px;
    }
    
    ul li a:hover{
        color: rgb(209, 209, 209);
    
    }
    
    .nav-desplegable{
        display: none;
        margin-left: -29px;
     
    }
    
    .guitarras:hover .nav-desplegable{
        display: block;
    }
    
    .nav-desplegable li a{
        display: block;
        align-items: center;
        text-align: center;
        font-size: 18px;
        margin-left: -5px;
    
    }
    
}


@media only screen and (min-width: 576px) {

    .header{    
        background-color: #49516F;
        width: 100%;
        padding: 20px 50px;
        display: flex;
        justify-content: space-between;
    }
    
    .logoContainer{
        max-width: 30%;
        display: block;
        text-align: center;
    }

    .logo{
        width: 25%;
    }
    
    .navBar{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .navbar-expand-md .navbar-collapse {
        display: flex!important;
        margin-left: 30px;
    }    

    .enlaces{
        width: 80%;
        display: flex;
        justify-content: space-around;
        margin-left: 50px;
    }
     ul li{
         list-style: none;
     }
    
    .enlaces li a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        text-transform:uppercase;
        transition: all 0.2s ease;
        font-family: 'Arvo', serif;
    }
    
    ul li a:hover{
        color: rgb(209, 209, 209);
    
    }
    
    .nav-desplegable{
        display: none;
        margin-left: -29px;     
    }
    
    .guitarras:hover .nav-desplegable{
        display: block;
    }
    
    .nav-desplegable li a{
        display: block;
        align-items: center;
        text-align: center;
        font-size: 18px;
        margin-left: -5px;    
    }
    
}







